* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: black;
}
.font-color-white {
  color: #fff;
}
.font-color-white-opacity {
  color: #fff;
  opacity: .5;
}
.font-h2 {
  margin-top: 30px;
  margin-left: 15px;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
.font-h4 {
  margin: 15px 15px;
  color: #fff;
  opacity: .5;
  font-weight: normal;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
/* Main*/
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
  overflow: hidden;
}
/* main navbar */
.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background-color: #000000;
}
/* main-navbar-logo */
.main-navbar-logo img {
  width: 50%;
  margin: 10px 10px;
}
.main-navbar-logo .menu img {
  width: 10%;
  vertical-align: middle;
  opacity: .8;
}
.main-navbar-logo .small {
  display: none;
}
.main-navbar-logo .menu li a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  opacity: .5;
}
.main-navbar-logo .menu li:first-child a {
  opacity: 1;
  border-left: 2px solid lime;
}
.main-navbar-logo li a:hover,
.main-navbar-logo .menu img:hover {
  opacity: 1;
}

/* main-navbar-playlist */
.main-navbar-playlist h3 {
  font-size: 1.2em;
  padding: 15px 15px;
}
.main-navbar-playlist a {
  text-decoration: none;
  color: #fff;
  opacity: .5;
}
.main-navbar-playlist a:hover {
  opacity: 1;
}
.main-navbar-playlist .btn-crea {
  background: #A3A3A3;
  opacity: 1;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 8px;
  margin-left: 15px;
  margin-right: 10px;
  vertical-align: middle;
  transition: 1s;
}
.main-navbar-playlist .btn-crea:hover {
  background: #fff;
}
/* main-navbar-name */
.main-navbar-name{
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
}
.playlist {
  list-style: none;
  margin-top: 15px;
}
.playlist li a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  opacity: .5;
  line-height: 25px;
}
.playlist li a:hover {
  opacity: 1;
}
/* main-navbar-download */
.main-navbar-download img {
  width: 10%;
  margin-left: 15px;
  vertical-align: middle;
}
.main-navbar-download span a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  opacity: .5;
  font-size: 8px;
}
.main-navbar-download .profile {
  padding: 2px;
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: grey;
  border-radius: 10px;
  vertical-align: middle;
}
.main-navbar-download a:hover {
  opacity: 1;
}
.main-navbar-download hr {
  border-bottom: .4px solid #A3A3A3;
  width: 80%;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.main-navbar-download h4 {
  font-size: 1em;
}
.main-navbar-download h4 i {
  color: #A3A3A3;
  font-size: 18px;
  padding: 10px;
  vertical-align: middle;
}
/* main content */
.main-content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #151922;
  overflow-y: scroll;
}
/* Call-to-actio*/
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 80px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  padding: 10px 25px;
  margin-right: 20px;
  color: #fff;
  border: 1px solid #A3A3A3;
  border-radius: 20px;
  transition: 1s;
}
.btn:hover {
  transform: scale(1.2);
}
/* Main-content-menu*/
.main-content-menu {
  margin-top: 90px;
}
.main-content-menu ul {
  list-style: none;
  text-align: center;
}
.main-content-menu ul li {
  display: inline-block;
  padding: 10px;
}
.main-content-menu ul li a {
  text-decoration: none;
  color: #fff;
  opacity: .5;
}
.main-content-menu ul li a:hover {
  opacity: 1;
}
.main-content-menu .active::after {
  content: "";
  display: block;
  background-color: lime;
  height: 2px;
  width: 30px;
  margin-top: 5px;
  margin-left: 25px;
}
/* Recently-played */
.flex-container {
  list-style: none;
  display: flex;
  margin: 0 10px;
  text-align: center;
}
.flex-container li {
  position: relative;
  margin-top: 20px;
  flex-basis: calc(100% / 6);
}
.flex-container li img {
  width: 100%;
  padding: 5px;
}
.flex-container li img:hover {
  opacity: .5;
}
.flex-container li:hover .layover {
  display: block;
}
.flex-container li h3 {
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
}
.layover {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 56px;
}

/* Creato-per */
/* Artisti */
.artisti li img {
  border-radius: 50%;
}
/* footer */
.footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #282828;
}
.brano {
  display: flex;
  align-items:  center;
}
.brano .title {
 margin-right: 20px;
}
.title h4 {
  font-size: 8px;
  color: #fff;
}
.title h5 {
  font-size: 6px;
  color: #fff;
  opacity: .5;
}
.title a {
  text-decoration: none;
}
.title a:hover {
  color: #fff;
  text-decoration: underline;
  opacity: 1;
}
.brano img {
  margin: 20px 10px;
  width: 5%;
  vertical-align: middle;
}
.brano .title {
  display: inline-block;
}
.icon a i {
  padding: 3px;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  opacity: .5;
}
.icon a i:hover {
  opacity: 1;
}
.play {
  margin-top: 15px;
  margin-left: -200px;
}
.play::after  {
  position: relative;
  content: "";
  display: block;
  width: 350px;
  height: 3px;
  background-color: #fff;
  opacity: .1;
}
.play ul {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  list-style: none;
}
.play ul li{
  display: inline-block;
}
.play i {
  font-size: 14px;
  color: #fff;
  padding: 5px;
  transition: 1s;
}
.play i:hover {
  transform: scale(1.2);
}
.play-layover {
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: #fff;
  opacity: .5;
}
.play:hover .play-layover {
  background-color: lime;
  opacity: 1;
}
.play:hover .play-layover i {
  display: block;
}
.play .play-layover i {
  display: none;
  position: absolute;
  top: -15px;
  left: 80px;
  font-size: 10px;
}
.play-layover .primo {
  position: absolute;
  top: -2px;
  left: -30px;
}
.play-layover .secondo {
  position: absolute;
  top: -2px;
  left: 370px;
}
.play span {
  font-size: 6px;
  color: #fff;
}
.sound {
  margin-top: 30px;
  margin-right: 10px;
}
.sound .sound-bar {
  list-style: none;
}
.sound .sound-bar li {
  display: inline-block;
}
.sound .sound-bar li a {
  text-decoration: none;
}
.sound .sound-bar li a i {
  font-size: 8px;
  color: #fff;
  padding: 8px;
  transition: 1s;
}
.sound i:hover {
  transform: scale(1.2);
}
.sound-bar::after  {
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #fff;
  opacity: .1;
  margin-left: 5px;
}
.sound-layover {
  position: relative;
  margin-top: -12px;
  margin-left: 85px;
  width: 40px;
  height: 3px;
  background-color: #fff;
  opacity: .5;

}
.sound .sound-layover i {
  display: none;
  position: absolute;
  top: -5px;
  left: 40px;
  font-size: 12px;
  color: #fff;
}
.sound:hover .sound-layover {
  background-color: lime;
  opacity: 1;
}
.sound:hover .sound-layover i {
  display: block;
}

/* Media Queries*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-container li {
    flex-basis: calc(100% / 4);
  }
}
@media screen and (max-width: 768px) and (min-width: 568px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-container li {
    flex-basis: calc(100% / 2);
  }

}
@media screen and (max-width: 568px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-container li {
    flex-basis: calc(100% / 2);
  }
  .main-navbar {
    width: 50px;
    align-items: center;
  }
  .main-navbar-logo .small {
    display: block;
    width: 35%;
    margin: 5px 20px;
  }
  .main-navbar-logo img,
  .main-navbar-logo span,
  .main-navbar-playlist,
  .main-navbar-name,
  .main-navbar-download span,
  .main-navbar-download hr {
    display: none;
  }
  .main-navbar-download img {
    width: 30%;
  }
  .main-navbar-download i {
    margin-left: 5px;
  }
  .main-navbar-logo i {
    font-size: 1.5em;
  }
  .main-content {
    width: calc(100% - 50px);
  }
  .call-to-action {
    width: calc(100% - 50px);
  }

}
